[init]
	defaultBranch = main
[user]
	name = Denis Castillón
	email = orangeneko158@outlook.com
[diff]
	tool = meld
[difftool]
	prompt = false
[core]
	editor = nvim
[alias]
	graph = log --oneline --graph --decorate --all
