lazy-lock.json

# DankMaterialShell
niriWM/.config/niri/dms/colors.kdl
DankMaterialShell/.config/DankMaterialShell/plugin_settings.json
DankMaterialShell/.config/DankMaterialShell/plugins/

# Noctalia
noctalia/.config/noctalia/colors.json
noctalia/.config/noctalia/colorschemes/
noctalia/.config/noctalia/plugins/
niriWM/.config/niri/noctalia.kdl
kitty/.config/kitty/current-theme.conf
kitty/.config/kitty/themes/
