lazy-lock.json

niriWM/.config/niri/dms/colors.kdl
niriWM/.config/niri/noctalia.kdl
kitty/.config/kitty/current-theme.conf
kitty/.config/kitty/themes/

/doomEmacs-repo/.config/doom
/neovim-repo/.config/nvim
/niriWM-repo/.config/niri
/mangoWM-repo/.config/mango
/noctalia-repo/
