binds {
    // Mostrar una lista de los atajos importantes
    Mod+Shift+Slash { show-hotkey-overlay; }


    // =============== Abrir programas ===============

    Mod+Return hotkey-overlay-title="Abrir Kitty" { spawn "kitty"; }
    Mod+E hotkey-overlay-title="Abrir el Explorador de archivos" { spawn "nautilus" "--new-window"; }
    Mod+N hotkey-overlay-title="Abrir el Editor de texto" { spawn "gnome-text-editor" "--new-window"; }
    Mod+Shift+N hotkey-overlay-title="Abrir Emacs" { spawn "emacs"; }

    Mod+M hotkey-overlay-title="Abrir Zapzap" { spawn "zapzap"; }
    Mod+B hotkey-overlay-title="Abrir Firefox" { spawn "firefox"; }
    Mod+Shift+B hotkey-overlay-title="Abrir Zen Browser" { spawn "app.zen_browser.zen"; }
    Mod+Ctrl+B hotkey-overlay-title="Abrir Helium Browser" { spawn "helium"; }

    XF86Favorites hotkey-overlay-title="Abrir la calculadora" { spawn "gnome-calculator"; }
    Shift+XF86Favorites hotkey-overlay-title="Abrir el Qalculate" { spawn "qalculate-gtk"; }
    Ctrl+Shift+Escape hotkey-overlay-title="Abrir el monitor del sistema" { spawn "gnome-system-monitor"; }
    Ctrl+Alt+Delete hotkey-overlay-title="Abrir el monitor del sistema" { spawn "gnome-system-monitor"; }
    Mod+Delete hotkey-overlay-title="Abrir Mission Center" { spawn "missioncenter"; }
    Mod+Shift+V hotkey-overlay-title="Abrir GNOME Characters" { spawn "gnome-characters"; }

    // ========= Capturas de pantalla =========

    // Print { screenshot; }
    // Ctrl+Print { screenshot-screen; }
    // Alt+Print { screenshot-window; }

    // Flameshot
    Print { spawn "flameshot" "gui"; }
    Ctrl+Print { spawn "flameshot" "screen"; }
    Alt+Print { spawn "flameshot" "full"; }

    // =============== Teclas de volumen y medios ===============

    // Volumen mediante PipeWire & WirePlumber.
    // '-l 1.0' limita el volumen al 100%
    // -------------------------------------------
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Control de medios mediante playerctl.
    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }

    // Por acá replico el control de medios
    // pero con las teclas de mi ThinkPad
    XF86NotificationCenter allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86PickupPhone allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86HangupPhone allow-when-locked=true { spawn-sh "playerctl next"; }

    // Controlar el brillo mediante brightnessctl.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }


    // =============== Manejo de ventanas ===============

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    // Alternativamente, puedes moverte entre espacios de trabajo
    // al llegar a la primera o la última ventana verticalmente.
    // Es decir, si voy para abajo sigo hacia abajo, aunque eso
    // implique bajar al siguiente workspace; lo mismo para subir.
    // -----------------------------------------------------
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    // Mod+Shift+K     { move-window-up-or-to-workspace-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }


    // ========= Entre monitores =========

    Mod+Ctrl+Left  { focus-monitor-left; }
    Mod+Ctrl+Down  { focus-monitor-down; }
    Mod+Ctrl+Up    { focus-monitor-up; }
    Mod+Ctrl+Right { focus-monitor-right; }
    Mod+Ctrl+H     { focus-monitor-left; }
    Mod+Ctrl+J     { focus-monitor-down; }
    Mod+Ctrl+K     { focus-monitor-up; }
    Mod+Ctrl+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Alternativamente, puedes mover ventanas en lugar de columnas:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // O incluso mover todo el espacio de trabajo a otro monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...


    // ========= Entre espacios de trabajo =========

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Shift+Page_Down { move-column-to-workspace-down; }
    Mod+Shift+Page_Up   { move-column-to-workspace-up; }
    Mod+Shift+U         { move-column-to-workspace-down; }
    Mod+Shift+I         { move-column-to-workspace-up; }

    // Alternativamente, puedes mover ventanas en lugar de columnas:
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    Mod+Ctrl+Page_Down { move-workspace-down; }
    Mod+Ctrl+Page_Up   { move-workspace-up; }
    Mod+Ctrl+U         { move-workspace-down; }
    Mod+Ctrl+I         { move-workspace-up; }

    // También pueden acceder a los espacios de trabajo mediante índices.
    // Sin embargo, niri está pensado para tener espacios de trabajo
    // dinámicos, y tendrán un comportamiento similar al de gnome.
    // Por ejemplo, teniendo ocupados 2 workspaces, los índices
    // superiores a 3 siempre apuntarán al último workspace vacío.
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // Alternativamente, puedes mover ventanas en lugar de columnas:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }


    // ========= Atajos del mouse =========

    // Puedes usar los pasos de la rudea del mouse de la siguente maera.
    // Ojo, estos atajos son sensibles a la configuración 'natural-scroll'
    //
    // Para evitar ir muy rápido, puedes usar la propiedad 'cooldown-ms'.
    // Esta opción se puede usar en otros atajos, pero es mayormente útil aquí.
    // -----------------------------------------------------

    // Movimientos de columna
    Mod+WheelScrollDown       { focus-column-right; }
    Mod+WheelScrollUp         { focus-column-left; }
    Mod+Shift+WheelScrollDown { move-column-right; }
    Mod+Shift+WheelScrollUp   { move-column-left; }
    Mod+Ctrl+WheelScrollDown  { move-window-down; }
    Mod+Ctrl+WheelScrollUp    { move-window-up; }

    // Movimientos de workspace
    Mod+Alt+WheelScrollDown        cooldown-ms=200 { focus-workspace-down; }
    Mod+Alt+WheelScrollUp          cooldown-ms=200 { focus-workspace-up; }
    Mod+Alt+Shift+WheelScrollDown  cooldown-ms=200 { move-column-to-workspace-down; }
    Mod+Alt+Shift+WheelScrollUp    cooldown-ms=200 { move-column-to-workspace-up; }

    Mod+Alt+Ctrl+WheelScrollDown   cooldown-ms=200 { move-workspace-down; }
    Mod+Alt+Ctrl+WheelScrollUp     cooldown-ms=200 { move-workspace-up; }

    // ========= Atajos del trackpad =========

    // Similar al mouse, puedes poner atajos al touchpad. Eso sí, acá los
    // pasos no son claros debido a que el desplazamiento es continuo.
    // Además, estos atajos también son sensibles al 'natural-scroll',
    // por lo que normalmente los vas a querer invertidos, ya que casi
    // todos tenemos activado el desplazamiento natural en el trackpad.
    //
    // Tal es el caso de estos, que son para el volumen
    Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }


    // ========= Más manejo de ventanas =========

    // Cambiar el tamaño de las columnas
    Mod+R { switch-preset-column-width; }
    // También se puede cambiar en reversa
    Mod+Shift+R { switch-preset-column-width-back; }

    // Cambiar el tamaño de las ventanas
    Mod+T { switch-preset-window-height; }
    Mod+Shift+T { switch-preset-window-height-back; }
    Mod+Ctrl+T { reset-window-height; }

    // Maximizar y pantalla completa
    Mod+F { maximize-column; }
    Mod+Ctrl+F { fullscreen-window; }
    // Mod+Alt+F { fullscreen-window; }

    // Ocupar el espacio restante
    Mod+Shift+F { expand-column-to-available-width; }

    // Centrar la columna actual
    Mod+C { center-column; }
    // Centrar según todas las colunmas visibles del workspace
    Mod+Ctrl+C { center-visible-columns; }

    // Ajuste fino de anchó de columna
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    // Ajuste fino de altura de filas
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    // Este comando puede:
    // * Especificar un valor concreto en pixeles: "1000"
    // * Hacer ajuste en pixeles: "-5" or "+5"
    // * Especificar un valor según el porcentaje de pantalla: "25%"
    // * Hacer ajuste según el porcentaje de la pantalla: "-10%" or "+10%"
    //
    // Hay que aclarar que los tamaños en pixeles son lógicos, o escalados.
    // Por ejemplo, en un output con escala 2.0, `set-column-width "100"`
    // va a hacer que la columna ocupe 200 pixeles físicos de la pantalla.
    // -----------------------------------------------------

    // Hacer flotar la ventana actual
    Mod+Shift+Space       { toggle-window-floating; }
    Mod+Space { switch-focus-between-floating-and-tiling; }

    // Modo “tabbed column”
    // Al activarlo sobre una columna, esta mostrara a las ventanas
    // como pestañas verticales, lugar de una arriba de la otra
    Mod+W { toggle-column-tabbed-display; }

    // ========= “Consume windows” =========

    // "Consumir una ventana" se refiere a hacer que dicha ventana
    // entre o salga en alguna columna adyacente.
    // Si la ventana está sola, se consumirá hacia la columna en la parte de abajo.
    // Si la ventana ya está acompañada en una columna, esta saldrá para ser única
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // La otra forma es tomar la ventana de la derecha y consumirla
    // en la columna actual, poniéndola abajo también.
    Mod+Comma  { consume-window-into-column; }
    // Y para expulsar hacia la derecha la ventana de hasta abajo
    Mod+Period { expel-window-from-column; }


    // =============== Otros atajos ===============

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }
    // Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }
}
